body{
    background: #DDDDDD;
    text-align: center;
    margin: 0;
    padding: 0;
}

#board-container{
    margin-top: 5vmin;
    display: inline-block;
    padding: 2vmin;
    background-color: #848080;
}
.row{
    display: flex;
    justify-content: space-evenly;
}
.cell{
    width: 8.5vmin;
    height: 8.5vmin;
}
.white{
    background: #ecf0f1;
}
.black{
background: #374360;
}
.checker{
    margin: 10%;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.red-checker{
    background: #ff0000;
    color: #444;
}
.black-checker{
    background: #000;
    color: #ccc;
}
.selected {
    margin: 0;
    border: 1vmin solid rgba(255,255,255,0.5);
    background-repeat: no-repeat;
}
.out-of-play {
    /*width: 10vmin;*/
    /*height: 10vmin;*/
}

i {
    font-size: 3vmin;
}
