body{
    background: #DDDDDD;
    text-align: center;
    margin: 0;
    padding: 0;
}

.red-checkers{
    width: 65%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    border-radius: 50%;
    margin: 0 auto;
}
.black-checkers{
    width: 65%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    border-radius: 50%;
    margin: 0 auto;
}
.red-text{
    content: 'Red';
    color: red;
    font-weight: 500;
}
.turn-text{
    color: rgb(13, 197, 13);
}
.icon-sad:before, .moved span:before {
    content: "☹";
    color: #ffffff;
}

.icon-grin:before, .monster:before {
    content: "☻";
    color: #ffffff;
}

table {
    display: inline-block;
    background: #fff;
    width: 50%;
    height: auto;
    margin: 0 auto;
    border-spacing: 0;
    padding: 2vmin;
    background-color: #848080;
}
tbody{
    display: table;
    width: 100%;
}

td {
    width: 10.5vmin;
    height: 10.5vmin;
    background: #374360;
    font-size: 150%;
}
td span {
    cursor: pointer;
}
td.selected .red-checkers, td.selected .black-checkers{
    background: #61ad25 !important;
    border: 2px solid #fff;
}
td.step {
    background: #b0d692 !important;
    cursor: pointer;
}
td.move {
    background: #ff5577 !important;
}

tr:nth-child(2n) td:nth-child(2n),
tr:nth-child(2n-1) td:nth-child(2n-1) {
    background: #ecf0f1;;
}
.white {
    color: #fff;
    text-shadow: 1px 1px #554422;
}
#current-player{
    color: #61ad25;
    font-weight: bold;
}
.red{
    color: red;
}
.black {
    color: #000;
    text-shadow: 1px 1px #554422;
}

.score {
    width: 160px;
    margin: 10px auto;
    font-size: 0;
    line-height: 30px;
}

.rPlayer,
.bPlayer {
    display: inline-block;
    width: 50%;
    font-size: 16px;
}

.rPlayer {
    color: #fff;
    background: red;
}

.bPlayer {
    background: #000;
    color: #fff;
}


